body {
    background-image: url(dubai.jpg);
    background-attachment: fixed;
    font-family: 'Source Sans Pro', sans-serif;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

header {
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    height: auto;
	min-height: 250px;
	background-size: cover;
    background-position: center;
	display: flex;
	flex-direction: column;
	position: relative;
}

header h1 {
    background-color: rgba(0, 0, 0, 0.726);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    text-align: center;
    width: auto;
    padding: 100px;
    margin: -1%;
}

main nav {
    font-family: 'Source Sans Pro', sans-serif;
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 10px;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: auto;
}

main nav div ul li {
    display: inline;
    padding: 50px 50px;
}

main nav div ul li a {
    border-radius: 10px;
    line-height: 3.25em;
    padding: 32px;  
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.btn-1 {
    background-color: #00000096;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px 2px;
    opacity: 1;
    transition: 0.3s;
}

.btn-1:hover {opacity: 0.6}

.btn-2 {
    background-color: #00000096;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px 2px;
    opacity: 1;
    transition: 0.3s;
}

.btn-2:hover {opacity: 0.6}

.btn-3 {
    background-color: #00000096;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px 2px;
    opacity: 1;
    transition: 0.3s;
}

.btn-3:hover {opacity: 0.6}

.btn-4 {
    background-color: #00000096;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 10px 2px;
    opacity: 1;
    transition: 0.3s;
}

.btn-4:hover {opacity: 0.6}

.btn-5 {
    background-color: #00000096;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    margin: 4px 2px;
    opacity: 1;
    transition: 0.3s;
}

.btn-5:hover {opacity: 0.6}

main {
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.726);
    margin-right: calc(50% - 960px);
    margin-left: calc(50% - 960px);
    font-family: 'Source Sans Pro', sans-serif;
}

.title{
    color: rgb(255, 255, 255);
    text-align: center;
}

.container {
    color: white;
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 40px;
}

.img {
    width: 1000px;
    height: auto;
}

.text {
    margin-top: 0%;
    margin-bottom: 50px;
}

.img2 {
    width: 1000px;
    height: auto;
}

.dropbtn {
    background-color: rgba(0, 0, 0, 0.726);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.726);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(255, 255, 255, 0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 20px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: rgb(0, 0, 0);
  }

footer {
    background-color: rgba(0, 0, 0, 0.726);
    border-radius: 10px;
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    height: auto;
	min-height: 250px;
	background-size: cover;
    background-position: center;
	display: flex;
	flex-direction: column;
	position: relative;
    padding: 20px;
    margin: -1%;
}

footer div.container {
    color: white;
    text-align: center;
    border-radius: 50%;
    padding: 85px;
    height: 50px;
}